form{color: red;
	width: 300px;
	padding: 16px;
	border-radius: 10px;
	margin: auto;
	font-family: Broadway;
	background-color: #40E0D0;

}
form label{
	width: 72px;
	font-weight: bold;
	display: inline-block;

}
form input[type="text"],form input[type="email"]{
	width: 180px;
	padding: 3px 10px;
	border:3px solid #FFA500;
	border-radius: 3px;
	background-color: #800080;
	margin: 8px;
	display: inline-block;

}